.topbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
}

.topbar > .top-bar {
    background-color: inherit;
}

.topbar2 {
    background-color: grey;
    opacity: .85;
}

.topbar2 > .top-bar {
    background-color: inherit;
}

.content-container {
	padding-top: 10px;
    width: 100% !important;
}

.filter-section {
}

.filter-section > .panel {
	height: 40em;
}

.main-section {
	height: 40em;
	background-color: lightblue;
}