.topbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.topbar2 {
    background-color: grey;
}

.topbar2 > .top-bar {
    background-color: grey;
}

.content-container {
	padding-top: 10px;
}

.filter-section {
}

.filter-section > .panel {
	height: 40em;
}

.main {
	height: 40em;
	background-color: lightblue;
}