.main {
    background-color: cadetblue;
    color: black;
    width: 100%;
    height: 100%;
}

body {
    height: 150%;
}

#spaceThem {
    margin-bottom: 50px;
}

.hello {
    padding-top: 18px;
    padding-bottom: 18px;
    height: 10%;
}





    
    